/* import fonts start*/
@import url(../fonts/stylesheet.css);
/* import fonts end*/

/* basic styling */
:root {
/* font family */
--primary-font-family: 'Canopee';
--base-font-family : 'GT America Rg';

/* color & background */
--white : #fff;
--black : #000;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
font-family: var(--primary-font-family);
}

  body,html {height:100%; overflow:hidden; font-family: 'Arial', sans-serif; background:var(--black);}

  /* ===== PRELOADER ===== */
  .preloader {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    z-index: 1000;
  }
  .preloader .logo svg{
   filter: brightness(0) invert(1);
  }
  .preloader .bottom {
    font-size: 14px;
    font-weight: 600;
  }
  .preloader .counter {
    font-size: 18px;
    margin-top: 10px;
  }

  /* ===== HERO SECTION ===== */
  .hero {
    position: relative;
    height: 100vh;
    display: flex;
    transform: translateY(100%);
    overflow: hidden;
  }

  .hero-left {
    width: 50%;
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
  }
  .hero-left p {
    margin-top: 20px;
    font-weight: 500;
  }
  .hero-right {
    width: 50%;
    overflow: hidden;
    position: relative;
  }
  .hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.3);
    position: absolute;
    inset: 0;
  }
  .hero-right img.active {
    opacity: 1;
    transform: scale(1);
  }

  @media(max-width: 767px) {
    .hero {flex-direction: column;}
    .hero-left, .hero-right {width: 100%; height: 50vh;}
  }