@import url(_variables.css);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-fonts);
    transition: background-color 0.3s ease;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.w--40 {
    width: 40%;
}

.w--60 {
    width: 60%;
}

.w--50 {
    width: 50%;
}

.w--25 {
    width: 25%;
}

.m--0--auto {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 80px;
}

.globble--title h3 {
    font-size: 14px;
    line-height: 1;
    color: var(--primary-bg-color);
    font-weight: 400;
    margin: 0 0 20px 0;

}

.globble--title h2 {
    font-size: 44px;
    line-height: 1.3;
    color: var(--color-white);
    font-weight: 400;
    margin: 0;
}

.text-center {
    text-align: center;
}

.btn--primary {
    padding: 16px 30px;
    border: 1px solid var(--primary-bg-color);
    color: var(--color-white);
    font-size: 14px;
    line-height: 1;
    border-radius: 32px;
    display: flex;
    max-width: max-content;
    gap: 20px;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
    overflow: hidden;
}

.btn--arrow__icon svg {
    flex: none !important;
    height: 12px !important;
    position: relative !important;
    width: 16px !important;
    transform: rotate(-45deg);
    ;
}

.btn--primary:before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-color: var(--primary-bg-color);
    border-radius: 30px;
    right: 26px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.btn--primary:hover:before {
    width: 100%;
    height: 100%;
    right: 0;
}

.btn--primary:hover {
    color: var(--color-black);
}

.btn--primary:hover .btn--arrow__icon svg {
    transform: rotate(0deg);
}

/* Header CSS Start */

header {
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: all 0.3s ease;
    padding-top: 12px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px 0 80px;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
    width: 100%;
}

.sticky-header .header__inner {
    padding: 12px 12px 12px 24px;
    border: 1px solid var(--primary-bg-color);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    transition: width 0.3s ease-in-out;
}

.sticky-header {
    position: fixed;
}

.sticky-header .header__inner {
    width: 780px;
    transition: width 0.3s ease-in-out;
}

.header__button {
    display: flex;
}

.header__logo {
    max-width: 190px;
    width: 190px;
    display: flex;
    transition: width 0.3s ease-in-out;
}

.sticky-header .header__logo {
    max-width: max-content;
    width: auto;
    transition: width 0.3s ease-in-out;
}

a.header__logo--link {
    display: flex;
    width: 36px;
}

.header__logo--link>svg {
    transition: transform 0.2s linear;
}

.header__logo--link:hover>svg {
    transform: rotate(180deg);
}

ul.header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 48px;
}

li.header__menu--item a {
    font-size: 18px;
    color: var(--color-white);
    font-weight: 400;
    transition: color 0.2s ease-in-out;
}

li.header__menu--item a:hover {
    color: var(--primary-color);
}

a.btn__header {
    font-size: 14px;
    padding: 16px 26px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid var(--primary-bg-color);
    color: var(--color-white);
    border-radius: 50px;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
    max-width: 200px;
}

a.btn__header:after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-color: var(--primary-bg-color);
    border-radius: 30px;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

a.btn__header:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
}


a.btn__header:hover {
    color: var(--color-black);
}

/* Header CSS End */

/* Banner Section CSS Start */

.banner__main {
    width: 100%;
    position: relative;
    z-index: 9;
    overflow: hidden;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.banner__inner {
    width: 100%;
    height: 100%;
    padding: 140px 0 100px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    height: min-content;
    min-width: 100vh;
    overflow: hidden;
    /* position: relative; */
}

.banner__images__wrapper {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 2;
}

.banner__inner--item {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}

.banner__inner--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner--item__left__one {
    width: 300px;
    height: 620px;
    left: -90px;
    right: auto;
}

.banner--item__right__one {
    width: 300px;
    height: 620px;
    left: auto;
    right: -90px;
}

.banner--item__left__two {
    width: 200px;
    height: 200px;
    left: 230px;
    top: 80px;
}

.banner--item__right__two {
    width: 200px;
    height: 200px;
    left: auto;
    right: 230px;
    top: 80px;
}

.banner--item__left__three {
    width: 250px;
    height: 250px;
    left: 230px;
    top: 300px;
}

.banner--item__right__three {
    width: 250px;
    height: 250px;
    left: auto;
    right: 230px;
    top: 300px;
}

.banner--item__left__four {
    width: 100px;
    height: 100px;
    left: 450px;
    top: 180px;
}

.banner--item__right__four {
    width: 100px;
    height: 100px;
    left: auto;
    right: 450px;
    top: 180px;
}

.banner--item__left__five {
    width: 120px;
    height: 120px;
    left: 500px;
    top: 300px;
}

.banner--item__right__five {
    width: 120px;
    height: 120px;
    left: auto;
    right: 500px;
    top: 300px;
}

.banner__title h3 {
    width: 100%;
    font-size: 64px;
    line-height: 1.2;
    color: var(--primary-color);
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.banner__search {
    width: 350px;
    position: relative;
    bottom: 0;
    transition: bottom 0.3s ease;
}

.banner__search_inner {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

.banner__search_inner>input {
    width: 100%;
    padding: 16px 50px 16px 25px;
    font-family: var(--primary-fonts);
    border: 1px solid var(--primary-color);
    border-radius: 32px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
    outline: none;
    box-shadow: none;
}

.banner__search_inner>input::placeholder {
    color: var(--color-white);
}

.banner__search__icon {
    position: absolute;
    width: 28px;
    left: auto;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.banner__intro {
    padding: 20px 0 0 0;
    bottom: -400px;
    position: absolute;
    top: auto;
    width: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    position: relative;
    opacity: 0;
    transform: none !important;
    transition: all 0.3s ease;
}

.banner__intro__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.banner__intro--icon {
    width: 44px;
    display: flex;
}

.banner__intro--title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner__intro--title h3 {
    font-size: 84px;
    font-family: var(--secondary-fonts);
    line-height: 1;
    text-align: center;
    font-weight: 400;
    color: var(--color-white);
    margin: 0;
}

.banner__intro--title p {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

/* Banner Section CSS End */

/* Meet Galao Section CSS Start */

.meet_golao-main {
    width: 100%;
    padding: 120px 0;
    position: relative;
}

.meet_golao-box--col {
    width: 50%;
}

.meet_golao--content--col {
    width: 50%;
    padding: 0 0 0 20px;
}

.meet_golao--first_row_inner {
    display: flex;
    align-items: center;
}

.meet__golao--first__row__inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.meet__golao-box--col {
    width: 50%;
    position: relative;
    display: flex;
}

.meet__golao-box__inner {
    padding: 32px 20px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-shadow: rgb(240, 255, 139) 0px 0px 0px 0px;
    transition: box-shadow 0.3s ease-in-out;
}

a:hover .meet__golao-box__inner {
    box-shadow: rgb(240, 255, 139) 0px 2px 8px 0px;
}

.meet__golao-box--title h2 {
    font-size: 30px;
    line-height: 1;
    color: var(--color-black);
    font-weight: 500;
    margin: 0 0 10px 0;
}

.meet__golao-box--title p {
    font-size: 14px;
    line-height: 1.3;
    color: var(--secondary-bg-color);
    margin: 0;
}

.meet__golao--author__list {
    margin: 20px 0 0 0;
}

.meet__golao--author__list ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.meet__golao--author__list ul li {
    width: 56px;
    height: 56px;
    border-radius: 60px;
    overflow: hidden;
    border: 4px solid var(--primary-bg-color);
    margin: 0 0 0 -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
}

.meet__golao--author__list ul li:first-child {
    margin: 0 0 0 -4px;
}

.meet__golao--author__list ul li img {
    width: 100%;
}

.meet__golao-box--col .meet__golao-box:first-child {
    padding: 0 10px 0 0;
}

.meet__golao--image__inner img {
    width: 100%;
    filter: invert(1) sepia(0);
}

.meet__golao-box.image--left .meet__golao-box__inner {
    flex-direction: row;
    align-items: center;
}

.meet__golao-box.image--left .meet__golao--image {
    width: 40%;
}

.meet__golao-box.image--left .meet__golao-box--title {
    width: 60%;
}

.meet__golao--second__row {
    margin: 10px 0 0 0;
}

.meet__golao--second__row__inner {
    display: flex;
}

.meet__golao--image__inner svg {
    width: 56px !important;
    height: 56px !important;
    margin: 0 auto;
    display: block !important;
}

.quote__golao--box .meet__golao-box__inner {
    height: 330px;
    padding: 32px;
}

.quote__golao--box p.main__description {
    font-size: 18px;
    text-align: center;
    padding: 0 0 24px 0;
    margin: 0 0 24px 0;
    border-bottom: 1px solid #374a3433;
}

.quote__golao--box .meet__golao-box--title h2,
.quote__golao--box .meet__golao-box--title p {
    text-align: center;
}

.meet__golao-box_wrapper {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meet__golao-box_wrapper:last-child {
    padding-right: 0;
}

.location--image img {
    width: 120px;
    display: block;
    margin: 0 auto 20px auto;
}

.thunder--image img {
    width: 130px;
    display: block;
    margin: 0 auto 20px auto;
}

/* Meet Galao Section CSS End */

/* Recent Articles Section CSS Start */

.recent__articles {
    position: relative;
    padding: 120px 0;
    width: 100%;
}

.section--title {
    margin: 0 0 80px 0;
}

.section--title__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title--right {
    width: 420px;
}

.title--left h3 {
    font-size: 14px;
    line-height: 1;
    color: var(--primary-bg-color);
    font-weight: 400;
    margin: 0 0 20px 0;
    text-transform: capitalize;
    letter-spacing: 0.6px;
}

.title--left h2 {
    font-size: 44px;
    color: var(--color-white);
    line-height: 1.3;
    font-weight: 400;
    max-width: 500px;
    margin: 0 auto;
}

.title--right p,
.section--title.width--full p {
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-white);
    font-weight: 400;
    margin: 0 0 20px 0;
}

.section--title.width--full p {
    max-width: 600px;
    margin: 0 auto;
}

.section--title.width--full .section--title__wrapper {
    justify-content: center;
}

.recent__articles--item__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

a.recent__articles--item {
    width: calc(50% - 5px);
}

.recent__articles--item__inner {
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recent__articles--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.recent__articles--image {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
}

.recent__articles--top__label {
    position: relative;
    z-index: 9;
}

.recent__articles--top__label ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.recent__articles--top__label ul li span {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    padding: 16px 26px;
    border: 1px solid var(--primary-bg-color);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
}

.recent__articles--top__label ul li {
    display: flex;
}

.recent__articles--footer {
    position: relative;
    z-index: 9;
    margin-top: auto;
}

.recent__articles--footer__inner {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 0;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    gap: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-bg-color);
}

.recent__articles--footer--image {
    width: 100px;
    position: relative;
    margin-left: 20px;
}

.recent__articles--footer--image img {
    width: 100%;
    height: 100%;
}

.recent__articles--footer--content h4 {
    font-size: 14px;
    line-height: 1;
    color: var(--color-black);
    font-weight: 400;
    margin: 0 0 10px 0;
    transition: color 0.2s ease-in-out;
}

.recent__articles--footer--content h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--color-black);
    margin: 0;
    transition: color 0.2s ease-in-out;
}

.recent__articles--footer__inner:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: #202633;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    left: 20px;
}

a.recent__articles--item:hover .recent__articles--footer__inner:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 0;
}

.recent__articles--footer--content {
    position: relative;
}

a.recent__articles--item:hover .recent__articles--footer--content h4 {
    color: var(--color-white);
}

a.recent__articles--item:hover .recent__articles--footer--content h3 {
    color: var(--primary-bg-color);
}

/* Recent Articles Section CSS End */

/* Categories Section CSS Start */

.categories__main {
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.categories--list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categories--list__box {
    width: calc(33.3% - 7px);
}

.categories--list__box--inner>a {
    position: relative;
    padding: 32px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);
    overflow: hidden;
    z-index: 9;
}

.categories--list__box--icon {
    width: 24px;
    height: 24px;
}

.categories--list__box--icon svg {
    transition: all 0.3s ease-in-out;
}

.categories--list__box--content p {
    font-size: 18px;
    color: var(--color-black);
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.categories--list__box--overlay {
    flex: none;
    height: 32px;
    overflow: visible;
    position: absolute;
    right: 0;
    top: calc(50.505050505050534% - 32px / 2);
    width: 32px;
    z-index: -1;
    opacity: 0;
    background-color: #451930;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.categories--list__box--inner>a:hover .categories--list__box--overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
}

.categories--list__box--inner>a:hover .categories--list__box--content p {
    color: #fff;
}

.categories--list__box--inner>a:hover .categories--list__box--icon svg {
    fill: var(--primary-bg-color) !important;
}

/* Categories Section CSS Start */

/* Author Section CSS Start */

.author__main {
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.author__main--inner {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.author__main--inner .section--title {
    max-width: 480px;
    margin: 0;
}

.author__main--inner .section--title__wrapper {
    flex-direction: column;
    gap: 32px;
}

.author__main--inner .section--title__wrapper h2 {
    margin: 0;
}

.author__main--inner .section--title__wrapper .title--right {
    width: 100%;
}

.author--list__wrapper {
    display: grid;
    flex: 1 0 0px;
    gap: 10px;
    grid-auto-rows: minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    height: min-content;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 1px;
}

.author--list__box {
    width: 100%;
}

.author--list__box--inner {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    border: 1px solid var(--primary-bg-color);
    padding: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9;
}

.author--list__box--inner>a {
    flex: none;
    height: 160px;
    left: 20px;
    overflow: visible;
    position: absolute;
    text-decoration: none;
    top: 20px;
    width: 160px;
    z-index: -1;
    border-radius: 160px;
    background-color: #202633;
    transition: all 0.2s ease-in-out;
}

.author--list__box--image {
    width: 160px;
    height: 160px;
    position: relative;
}

.author--list__box--image img {
    width: 100%;
    height: 100%;
}

.author--list__box--title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.author--list__box--heading {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.author--list__box--heading h3 {
    font-size: 14px;
    color: var(--color-black);
    font-weight: normal;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.author--list__box--heading h2 {
    font-size: 24px;
    color: var(--color-black);
    font-weight: 500;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.author--list__description {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.author--list__description p {
    font-size: 18px;
    color: var(--color-black);
    max-width: 290px;
    line-height: 1.3;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.author--list__description ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 14px;
}

.author--list__description ul li {
    width: 32px;
    height: 32px;
}

.author--list__description ul li a svg {
    transition: all 0.2s ease-in-out;
}

.author--list__box:nth-child(2) .author--list__box--inner>a {
    background-color: #451930;
}

.author--list__box--inner:hover>a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.author--list__box--inner:hover .author--list__box--heading h3 {
    color: var(--color-white);
}

.author--list__box--inner:hover .author--list__box--heading h2 {
    color: var(--primary-bg-color);
}

.author--list__box--inner:hover .author--list__description p {
    color: var(--color-white);
}

.author--list__box--inner:hover .author--list__description ul li a svg {
    fill: var(--primary-bg-color) !important;
}

/* Author Section CSS End */

/* Pricing Section CSS Start */

.pricing__main {
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.title--left h2 {
    max-width: 600px;
    margin: 0 0 16px 0;
}

.pricing--tab__inner {
    display: flex;
    justify-content: center;
    border: 1px solid var(--primary-bg-color);
    max-width: max-content;
    margin: 0 auto;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
}

.pricing--tab__inner button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 16px 30px;
    position: relative;
    width: min-content;
    border: none;
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.pricing--tab__inner button.active {
    color: var(--color-black);
}

.pricing--tab__overlay {
    flex: none;
    height: 100%;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 123px;
    z-index: 0;
    background-color: var(--primary-bg-color);
    border-radius: 32px;
    transform: translate(0, 0px);
    transition: all 0.3s ease-in-out;
}

.annually-active .pricing--tab__overlay {
    transform: translate(118px, 0px);
    width: 135px;
}

.pricing--tab__main--price .main--price__item {
    transition: transform 0.2s ease-in-out;
}

.annually-active .pricing--tab__main--price .main--price__item:first-child,
.annually-active .pricing--tab__main--price .main--price__item:nth-child(2) {
    transform: translate(0px, -140px);
}

.pricing--tab {
    margin: 0 0 50px 0;
}

.pricing--tab__content--wrapper__inner {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(0, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.pricing--tab__item--inner {
    padding: 24px;
    border-radius: 28px;
    border: 1px solid var(--primary-bg-color);
    position: relative;
    background-color: var(--primary-bg-color);
    overflow: hidden;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing--tab__description {
    width: 80%;
    z-index: 9;
}

.pricing--tab__item .pricing--tab__item--overlay {
    background-color: var(--secondary-bg-color);
    bottom: 0;
    flex: none;
    height: 56px;
    overflow: visible;
    position: absolute;
    right: 0;
    width: 56px;
    z-index: 0;
    border-radius: 56px;
    transition: all 0.3s ease-in-out;
}

.pricing--tab__item:nth-child(2) .pricing--tab__item--overlay {
    background-color: #451930;
}

.pricing--tab__item:nth-child(3) .pricing--tab__item--overlay {
    background-color: #202633;
}

.pricing--tab__item--label span {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 6px 16px 6px 15px;
    position: relative;
    width: min-content;
    border: 1px solid var(--color-black);
    border-radius: 32px;
    color: var(--color-black);
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}

.pricing--tab__item--arrow {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    height: 56px;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    width: 56px;
    z-index: 1;
    border-radius: 56px;
    border: 1px solid var(--primary-bg-color);
}

.pricing--tab__item--arrow svg {
    width: 28px !important;
    height: 28px !important;
    transform: rotate(-45deg);
}

.pricing--tab__item--list ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.pricing--tab__item--list ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pricing--tab__item--list ul li span.list--icon {
    display: flex;
}

.pricing--tab__item--list ul li span.list--icon svg {
    width: 24px !important;
    height: 24px !important;
}

.pricing--tab__item--list ul li p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-white);
    margin: 0;
}

.pricing--tab__main--price {
    display: flex;
    flex-direction: column;
    height: 144px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.pricing--tab__main--price .main--price__item h2 {
    font-size: 120px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-black);
    margin: 0;
}

.pricing--tab__description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.pricing--tab__item--list {
    position: absolute;
    transform-origin: 50% 50% 0px;
    will-change: transform;
    top: 450px;
    left: 24px;
    opacity: 0;
    height: min-content;
    transition: all 0.3s ease-in-out;
}

.pricing--tab__item:hover .pricing--tab__item--overlay {
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.pricing--tab__item:hover .pricing--tab__item--label span {
    border-color: var(--primary-bg-color);
    color: var(--color-white);
}

.pricing--tab__item:hover .pricing--tab__item--list {
    top: 120px;
    opacity: 1;
}

.pricing--tab__item:hover .pricing--tab__description p {
    color: var(--color-white);
}

/* Pricing Section CSS End */

/* FAQ Section CSS Start */

.faq__main {
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.faq__main .faq--sub__title {
    max-width: 420px;
}

.faq--question {
    width: 100%;
    background: none;
    border: none;
    padding: 4px 0;
    font-size: 30px;
    text-align: left;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq--answer {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
}

.faq--answer--content {
    padding: 0 18px 18px;
}

.faq--icon {
    font-size: 30px;
    width: 56px;
    height: 56px;
    border: 1px solid var(--primary-bg-color);
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 9;
}

.faq--icon:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--primary-bg-color);
    left: auto;
    right: 0;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.faq--question:hover .faq--icon:before,
.faq--item.active .faq--question .faq--icon:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.faq--icon svg {
    width: 24px !important;
    height: 24px !important;
    transition: all 0.2s ease-in-out;
}

.faq--question:hover .faq--icon svg,
.faq--item.active .faq--question .faq--icon svg {
    fill: #000 !important;
}

.faq--item.active .faq--icon svg {
    transform: rotate(225deg);
}

.faq--accordion__wrapper--inner {
    display: flex;
    gap: 100px;
}

.faq--accordion {
    width: calc(70% - 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq--image__wrapper {
    width: 30%;
}

.faq--image__wrapper--inner .faq--image {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.faq--image__wrapper--inner .faq--image img {
    width: 100%;
    height: 300px;
}

.faq--answer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--color-white);
    padding: 20px 80px 40px 0;
    margin: 0;
}

.faq--image--title h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--primary-bg-color);
    margin: 0;
}

.faq--image--title p {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--color-white);
    margin: 0;
}

.faq--image__wrapper--inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq--image--title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* FAQ Section CSS End */

/* Testimonials Section CSS Start */

.testimonials__main {
    width: 100%;
    padding: 120px 0;
    position: relative;
}

.testimonials__main .title--left h2 {
    max-width: 700px;
}

.testimonial--card__wrapper--inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.testimonial--card--col {
    width: calc(33.3% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial--card {
    width: 100%;
}

.testimonial--card__inner {
    padding: 32px;
    border-radius: 15px;
    background-color: var(--primary-bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial--card--icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
}

.testimonial--card--author__inner {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial--card--image {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.testimonial--card--image img {
    width: 100%;
    height: 100%;
}

.testimonial--card--author--name h2 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    color: var(--color-black);
    margin: 0;
}

.testimonial--card--author--name {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.testimonial--card--author--name h3 {
    font-size: 18px;
    line-height: 1.3;
    color: var(--secondary-bg-color);
    font-weight: 400;
    margin: 0;
}

.testimonial--card--content__inner p {
    font-size: 18px;
    color: var(--color-black);
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
}

/* Testimonials Section CSS End */

/* Contact Section CSS Start */

.contact__main {
    width: 100%;
    position: relative;
    padding: 120px 20px 0 20px;
}

.contact__main--inner {
    position: relative;
    padding: 40px 60px;
    border-radius: 10px;
    overflow: hidden;
}

.contact--bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contact--bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content--main--raw {
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.contact--title--col {
    width: calc(60% - 50px);
}

.contact--form--col {
    width: 40%;
}

.contact--title--col .section--title {
    margin: 0;
}

.contact--title--col .section--title a.btn--primary {
    margin: 30px 0 0 0;
}

.contact--title--col .title--left {
    width: 100%;
}

.contact--title--col .title--left p {
    max-width: 520px;
    margin: 0;
}

.contact--form--col__inner {
    padding: 32px;
    backdrop-filter: blur(50px);
    background-color: #0003;
    border-radius: 10px;
    display: flex;
    flex: 2 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
}

.contact--form--title h2 {
    font-size: 44px;
    line-height: 1.2;
    color: var(--primary-bg-color);
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.contact--form--field__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact--form--field__innner {
    width: calc(50% - 10px);
}

.contact--form--field__innner.contact--textarea,
.contact--form--submit {
    width: 100%;
}

.contact--form--field__innner label {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-bg-color);
    display: block;
    margin: 0 0 10px 0;
}

.contact--form--field__innner input {
    font-family: var(--primary-fonts);
    padding: 16px 26px;
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 32px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    outline: none;
}

.contact--form--field__innner input::placeholder,
.contact--form--field__innner textarea::placeholder {
    color: var(--color-white);
    font-weight: 400;
}

.contact--form--field__innner textarea {
    font-family: var(--primary-fonts);
    padding: 20px 26px;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
    border: 1px solid var(--primary-bg-color);
    border-radius: 16px;
    outline: none;
    min-height: 140px;
}

.contact--form--field__innner input:focus,
.contact--form--field__innner textarea:focus {
    border-color: var(--primary-bg-color);
}

.contact--form--submit {
    display: flex;
    justify-content: center;
}

.contact--form--submit button {
    padding: 16px 26px;
    border: 1px solid var(--primary-bg-color);
    background-color: transparent;
    border-radius: 32px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--primary-bg-color);
    min-width: 250px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.contact--form--submit button:hover {
    color: var(--color-black);
}

.contact--form--submit button:before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 32px;
    background-color: var(--primary-bg-color);
    left: auto;
    right: 0;
    opacity: 0;
    top: 50%;
    bottom: 50%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.contact--form--submit button:hover:before {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    bottom: 0;
}

.contact--form--field__innner input[type=number]::-webkit-inner-spin-button,
.contact--form--field__innner input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Contact Section CSS End */

/* Footer Section CSS Start */

.footer__main {
    width: 100%;
    position: relative;
    padding: 20px 20px 20px 20px;
}

.footer__main--inner {
    padding: 80px 60px 60px;
    background-color: var(--color-black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.footer__main .section--title.width--full {
    margin: 0;
}

.footer__main .section--title.width--full .section--title__wrapper {
    justify-content: space-between;
    gap: 10px;
}

.footer__main .title--left h2 {
    color: var(--primary-bg-color);
    max-width: 650px;
    margin: 0 0 24px 0;
}

.footer__main .section--title.width--full p {
    width: 100%;
    max-width: 100%;
    text-align: left;
}

.footer--menu--wrapper__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer--logo a {
    display: flex;
}

.footer--logo a img {
    width: 48px;
    transition: transform 0.2s ease-in-out;
}

.footer--logo a img:hover {
    transform: rotate(180deg);
}

.footer--menu--left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer--content p,
.footer--menu--right p {
    font-size: 18px;
    color: var(--color-white);
    font-weight: 400;
    line-height: 1.4;
    max-width: 320px;
    margin: 0;
}

.footer--menu--right p {
    text-align: right;
}

.footer--menu--list ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.footer--menu--list ul li a {
    font-size: 18px;
    color: var(--color-white);
    font-weight: 400;
    line-height: 1;
    transition: all 0.2s ease-in-out;
}

.footer--menu--list ul li a:hover {
    color: var(--primary-bg-color);
}

.footer--menu--right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer--menu--app--img a {
    display: flex;
}

.footer--menu--app--img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer--bottom__wrapper {
    padding: 40px 0 0 0;
}

.footer--bottom__inner {
    display: flex;
    justify-content: space-between;
}

.footer--bottom--text p {
    font-size: 18px;
    line-height: 1;
    color: var(--color-white);
    font-weight: 400;
    margin: 0;
}

.footer--bottom--text p a {
    color: var(--primary-bg-color);
}

.footer--bottom--text p a:hover {
    text-decoration: underline;
}

.footer--social--icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer--social--icon ul li a {
    display: flex;
    width: 34px;
    height: 34px;
}

.footer--social--icon ul li a svg {
    transition: all 0.2s ease-in-out;
}

.footer--social--icon ul li a:hover svg {
    fill: #fff !important;
}

/* Footer Section CSS End */

/* Become A Creator Page CSS Start */

.creator--main--sec {
    width: 100%;
    position: relative;
    height: 100vh;
}

.creator--inner--sec {
    display: flex;
    padding: 20px;
    height: 100vh;
    justify-content: space-between;
}

.creator--image--col {
    width: 48%;
}

.creator--form--col {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creator--image--col__inner {
    height: 100%;
    position: relative;
}

.creator--image {
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}

.creator--image:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
    z-index: 1;
}

.creator--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.creator--form__inner {
    padding: 0 60px 0 0;
    position: relative;
}

.creator--form__inner form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    border-radius: 0;
    transition: transform 0.5s ease;
}

.creator--form__inner form ul li {
    scroll-snap-align: center;
    flex-shrink: 0;
    scroll-snap-stop: always;
    width: calc(100% - 120px + 120px);
    transition: transform 0.4s ease;
}

.form--inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form--count p {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;
    margin: 0;
}

.form--count p span {
    color: var(--primary-bg-color);
}

.form--title h2 {
    font-size: 44px;
    line-height: 1.3;
    color: var(--primary-bg-color);
    font-weight: 400;
    text-align: center;
    margin: 0 0 10px 0;
}

.form--title {
    padding: 0 0 32px 0;
}

.form--title p {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: var(--color-white);
    font-weight: 400;
    max-width: 500px;
    margin: 0 auto;
}

.form--field--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form--field--wrapper .form--field {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

.form--field--wrapper .form--field.width--full {
    width: 100%;
}

.form--field--wrapper .form--field label {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-bg-color);
    margin: 0 0 10px 0;
}

.form--field--wrapper .form--field input,
.form--field--wrapper .form--field textarea,
.form--field--wrapper .form--field select {
    font-family: var(--primary-fonts);
    padding: 16px 26px;
    border-radius: 32px;
    background: transparent;
    border: 1px solid var(--color-white);
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
}

.form--field--wrapper .form--field input:focus,
.form--field--wrapper .form--field textarea:focus,
.form--field--wrapper .form--field select:focus {
    border-color: var(--primary-bg-color);
}

.form--field--wrapper .form--field select {
    appearance: none;
    background-image: url(../images/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
}

.form--field--wrapper .form--field select option {
    color: var(--color-black);
}

.form--field--wrapper .form--field textarea {
    height: 140px;
    border-radius: 16px;
}

.form--field--wrapper .form--field input::placeholder,
.form--field--wrapper .form--field textarea::placeholder {
    color: var(--color-white);
}

.form--arrows {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;
    top: 4px;
}

.creator--form__inner form {
    position: relative;
    overflow: hidden;
    max-width: 550px;
    padding: 20px 0 0;
    margin: 0 auto;
}

.form--arrows button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0ff8b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.form--arrows button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form--submit {
    display: flex;
    justify-content: center;
    margin: 28px 0 0 0;
}

button.btn--form--submit {
    display: flex;
    padding: 16px 26px;
    background: transparent;
    border: 1px solid var(--primary-bg-color);
    border-radius: 32px;
    font-size: 18px;
    color: var(--primary-bg-color);
    font-weight: 400;
    line-height: 1.3;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    z-index: 9;
}

button.btn--form--submit:before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 32px;
    background-color: var(--primary-bg-color);
    left: auto;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

button.btn--form--submit:hover {
    color: var(--color-black);
}

button.btn--form--submit:hover:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.creator--content__inner {
    padding: 80px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.creator--content {
    height: 100%;
    position: relative;
    z-index: 9;
}

.creator--content__inner a.btn--primary:before {
    left: 26px;
    right: auto;
}

.creator--content__inner a.btn--primary .btn--arrow__icon svg {
    transform: rotate(220deg);
}

.creator--content__inner a.btn--primary:hover:before {
    left: 0;
}

.creator--content__inner a.btn--primary:hover .btn--arrow__icon svg {
    transform: rotate(180deg);
}

.creator--content__wrapper h1 {
    font-size: 64px;
    color: var(--color-white);
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 20px 0;
}

.creator--content__wrapper p {
    font-size: 18px;
    line-height: 1.4;
    color: var(--color-white);
    font-weight: 400;
    margin: 0;
}

/* Become A Creator Page CSS End */

/* Articles Page CSS Start */

.articles--banner {
    width: 100%;
    padding: 240px 0 80px 0;
    position: relative;
}

.articles--inner {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.articles--banner--title {
    width: calc(60% - 40px);
}

.articles--banner-content {
    width: 40%;
}

.articles--banner--title h1 {
    font-size: 120px;
    line-height: 1.3;
    color: var(--primary-bg-color);
    font-weight: 400;
    margin: 0;
}

.articles--banner-content h2 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--primary-bg-color);
    margin: 0 0 20px 0;
}

.articles--banner-content p {
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-white);
    font-weight: 400;
    margin: 0;
}

.articles--banner-content ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.articles--banner-content ul li a {
    display: flex;
    width: 32px;
    height: 32px;
}

.articles--banner-content ul li a svg {
    transition: all 0.3s ease-in-out;
}

.articles--banner-content ul li a:hover svg {
    fill: var(--color-white) !important;
}

/* Articles Page CSS End */